@font-face {
  font-weight: 400;
  font-family: 'Arial';
  font-style: normal;
  src: url('fonts/Arial.woff'), url('fonts/Arial.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Helvetica';
  font-style: normal;
  src: url('fonts/helvetica.woff'), url('fonts/helvetica.ttf');
}